<!DOCTYPE html>
<html lang="en"><!-- The full page image background will only work if the html has the custom class set to it! Don't delete it! -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Project for Ada Developers Academy">
    <meta name="author" content="Shadae">

    <title>Home Page for Shadae's Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS for the 'Full' Template -->
    <link href="stylesheets/home.css" rel="stylesheet">
    <link href="stylesheets/blog-post.css" rel="stylesheet">
  </head>

  <body class="full">
      
    <nav class="navbar navbar-fixed-bottom navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/posts">My Blog</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/posts">Blog</a></li>
            <!-- <li><a href="#services">Services</a></li> -->
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <h1 class="titlen">Shadae</h1>
  
          <p class="homet">Welcome to my class Blog!<br>
          It is complete with items I am learning during Ada Developer's Academy, <br>
          ramblings about going back to school, and values I pick up along the way, 
          all in the pursit to be a woman dev in Seattle soon.</p>
        </div>
      </div>
    </div>
    <!-- <p><%= link_to "My Blog", controller: "posts" %></p> -->
    
    <!-- JavaScript -->
    <script src="assets/javascripts/jquery-1.10.2.js"></script>
    <script src="assets/javascripts/bootstrap.js"></script>

  </body>

</html>