<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap-wysihtml5.css"></link>
    <script src="/assets/jquery-1.10.2.js"></script>
    <script src="/assets/bootstrap-wysihtml5.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){

      $('#some-textarea').wysihtml5({
        "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
        "emphasis": true, //Italics, bold, etc. Default true
        "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
        "html": false, //Button which allows you to edit the generated HTML. Default false
        "link": true, //Button to insert a link. Default true
        "image": true, //Button to insert an image. Default true,
        "color": false, //Button to change color of font  
        "stylesheets": [] 
      });

    })
</script>
 
  </head>

  <% if signed_in? %>

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Home</a>
            </div>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>

      <div class="container">
        <h1> Wanna Write? </h1>
          <div class="well">
            <%= render 'form' %>
            <%= link_to 'Back', posts_path %>
            <% else %>
            <%= link_to('login', new_admin_session_path) %>
          </div>
      </div>
    <% end %>

 