body {
  margin-top: 50px;
  margin-bottom: 50px;
  background: none;
}

.full {
  background: url('http://adaeinthelife.files.wordpress.com/2014/01/dsc_0057.jpg?w=1208') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homet {
  color: white;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  background: rgba(153, 153, 153, 0.6);
  border-radius: 5px ;
}

.titlen {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 80px;
}